@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.btn {

    display: inline-block;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: rgb(255, 34, 34);
    border: 1px solid red;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    
  }
